#!/bin/sh

set -e

if [ -e /usr/share/debconf/confmodule ] ; then
    . /usr/share/debconf/confmodule
fi

if [ "${1}" = "configure" ]; then
    if [ -n "${2}" ] && [ -e /etc/msmtprc ]; then
        db_fget msmtp/security-information seen || true
        if [ "${RET}" = "false" ]; then
            db_input critical msmtp/security-information || true
        fi
    else
        db_fset msmtp/security-information seen true || true
    fi
fi

db_input high msmtp/apparmor || true

db_go
